body {
background-color: white;
}

body
header {
  background-color: rgba(250,193,0,255);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0;
  width: 100%;
  height: 110px;
  font-size: 18px;
  font-weight: bolder;
  font-family: "Poppins-reg";
}
header div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
}

#header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    width: 40%;
}
#header nav a:hover {
    border-bottom: 4px solid white;
}

.header-search-phone {
    width: 30%;
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: bold;
    align-items: center; 
    gap: 20px;
} 
.header-search-phone input {
    background-color: rgba(250,193,0,255);
    width: 150px;
    border:0px; 
}
.header-search-phone div {
    width: 60px;
    height: 60px;
}

.hero {
    margin-top: 2px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    height: 680px;
    color: white;

}
.hero h2 {
    font-weight: bolder;
    font-size: 80px;
    text-transform: capitalize;
    font-family: "Poppins-bold-italic";

}
.container-hero {
    width: 90%;
    display: flex;
}

.hero-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 105px;
    gap:60px;
    color:white;

  
}

.container-hero div:last-child {
  width: 30%; 
 
}

.hero-text h1 {
    font-weight: bolder;
    font-size: 80px;
    text-transform: capitalize;
    font-family: "Poppins-bold-italic";

}
 
#hero-span {
    color: #fac100;
    position: absolute;
    right: 70px;
   
  
}
.hero-text p {
   padding-right: 100px;
   font-size: 26px;
   font-family: "Poppins-reg";
}

.hero-img img{
    position: absolute;
    right: 45px;
}

.true-text {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #c0c0c0;
    background-color: #f9f9f9;
    justify-content: space-between;
    height: 250px;
    align-items: center;
    padding: 0 170px;
    font-family: "Poppins-reg";

}
.true-text h3 {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    font-weight: bold;
    font-family: "Poppins-extra-bold";
    padding-bottom: 15px;
  
}
.true-text p {
    font-size: 22px;
    text-align: center;
    text-transform: capitalize;
   
}
.about-us {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-us > div {
    width: 90%;
    display: flex;
    flex-direction: row;
}
.about-us h2 {
    text-transform: capitalize;
    font-weight:900;
    font-size: 47px;
    font-family: "Poppins-extra-bold";
}
.about-us-box1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:50px;  
    padding: 100px 0 100px 0; 
}
.about-us-box1 div:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:35px;
}
.about-us p {
    font-size: 20px;
    font-family: "Poppins-reg";
}
.bt-style {
    background-color: #fac100;
    color: white;
    display: inline-block;
    padding: 18px 28px;
    text-transform: capitalize;
    border-radius: 10px;
    width: fit-content; 
    font-family: "Poppins-extra-bold"; 

}
.bt-style:hover {
      background-color: #fbd761;
     
    
}

.about-us-box1-img {
    width: 100%;
}
.about-us-box1-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.mission {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f9f9f9; 
}
.mission > div {
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 100px 0 100px 0; 
    gap:50px; 
    
}
.mission h2 {
   text-transform: capitalize;
    font-weight:900;
    font-size: 47px;
    font-family: "Poppins-extra-bold";

}
.mission p {
    font-size: 20px;
    font-family: "Poppins-reg";
}
.container-mision-div-img {
    
    width: 100%;
}
.container-mision-div-img img {
    width: 100%;
    height: autp;
    object-fit: cover;
}

.container-mission div:last-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:60px;
}
.circle::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color:#fac100;
    display: inline-block;
    border-radius: 50%;
}
.ctc-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-ctc-me {
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 100px 0;
   
   
}
.container-ctc-me-div {
     width: 60%;
}
.container-ctc-me-div form {
   
    display: flex;
    flex-direction: column;
    gap: 30px
}
.div-form-ctc-me h2 {
    font-weight:900;
    font-size: 47px;
    font-family: "Poppins-bold";
   
}
#form-ctc-me {
    color: #fac100;
}
.div-form-ctc-me div {
    display: inline-flex;
    gap: 30px;
    padding-top: 10px;
}
.div-form-ctc-me div input {
    height: 50px;
    width: 350px;
    padding-left: 15px;
}
.div-form-ctc-me input::placeholder {
    font-family: "Poppins-reg";
    font-size: 20px;
}
.div-form-ctc-me textarea {
   width: 750px;
   height: 55px;
   padding: 30px 0 0 20px;
    
}
.div-form-ctc-me textarea::placeholder {
    font-family: "Poppins-reg";
    font-size: 20px;

}

.div-form-ctc-me button {
    display: inline-block;
    background-color: #fac100;
    color: white;
    display: inline-block;
    padding: 18px 28px;
    text-transform: capitalize;
    border-radius: 10px;
    width: fit-content; 
    font-family: "Poppins-extra-bold";
    border: none; 

}
.div-form-ctc-me button:hover {
    background-color: #fbd761

}

.div-contact-me-img
{width: 40%;
}
.subscribe {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #d9d9d9;
    padding: 100px 0;
}
.subscribe > div {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 60px;   
}
.subscribe h2 {
    text-transform: capitalize;
    font-size: 35px;
    font-family: "Poppins-bold";
}
.div-subscrive-button {
    display: flex;
    flex-direction: row;
    border: 2px solid #fac100;
    padding: 15px;
    width: 43%;
    justify-content: space-between;
    position: relative;
}


.subscribe-email {
    border: none;
}

.div-subscribe-img {
    position: absolute;
    right: 100px;
    top: 3090px;
}
.subscribe-email {
    width: 70%;
    background-color: #d9d9d9;
}
.subscribe-subscribe {
    display: inline-block;
    width: 30%;
    background-color: #fac100;
    padding: 10px;
    color: white;
    font-family: "Poppins-reg";
    font-size: 22px;
    border: none;
}
.subscribe-subscribe:hover {
    background-color: #fbd761;
   
}
.subscribe-email::placeholder {
    font-family: "Poppins-reg";
    font-size: 22px;
}
footer {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;

}
.footer-section {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 60px;



}
.footer-section > div {
    display: flex;
    flex-direction: column;
    


}
.footer-section h4, {
    font-family: "Poppins-extra-bold";
    text-transform: uppercase;
    font-size: 22px;
}
.footer-corporative:first-child {

    width: 35%;
    gap: 20px;
}
.footer-corporative-logo {
    width: 80px;
    height: auto;

}
.footer-corporative-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
 
}
.footer-section a, p {
 
    font-family: "Poppins-reg";
    font-size: 16px;
   
}
.footer-section a:hover {
    font-weight: bold;
    color: #fac100;
}
.footer-menu, .footer-more-links, .footer-contact-info {
    width: 15%;
    gap:20px;
    font-size: 16px;
    font-family: "Poppins-reg";
    text-transform: uppercase;

}

footer span {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 30px 0;
}















    

